<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @car.brand_id %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model_id %>
</p>

<p>
  <strong>Version:</strong>
  <%= @car.version_id %>
</p>

<p>
  <strong>Car type:</strong>
  <%= @car.car_type_id %>
</p>

<p>
  <strong>Rto price:</strong>
  <%= @car.rto_price %>
</p>

<p>
  <strong>On road price:</strong>
  <%= @car.on_road_price %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @car.total_price %>
</p>

<p>
  <strong>Active</strong>
  <%= @car.active %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path,class:'ml-6' %>
